test-data/customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="http://example.com/customer"
           xmlns:tns="http://example.com/customer"
           elementFormDefault="qualified">

  <xs:element name="customer" type="tns:CustomerType"/>

  <xs:complexType name="CustomerType">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="email" type="xs:string"/>
      <xs:element name="address" type="tns:AddressType" minOccurs="0"/>
      <xs:element name="orders" type="tns:OrderListType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="street" type="xs:string"/>
      <xs:element name="city" type="xs:string"/>
      <xs:element name="zipCode" type="xs:string"/>
      <xs:element name="country" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OrderListType">
    <xs:sequence>
      <xs:element name="order" type="tns:OrderType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OrderType">
    <xs:sequence>
      <xs:element name="orderId" type="xs:string"/>
      <xs:element name="amount" type="xs:decimal"/>
      <xs:element name="date" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>