examples/xsd/15b_insurance_policy_salami_slice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ins="http://example.com/schemas/insurance-policy"
           targetNamespace="http://example.com/schemas/insurance-policy"
           elementFormDefault="qualified">

  <xs:annotation>
    <xs:documentation>
      Insurance Policy Schema - Salami Slice Pattern

      All elements defined globally, types are anonymous (inline).
    </xs:documentation>
  </xs:annotation>

  <!-- Global Elements -->

  <xs:element name="InsurancePolicy">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ins:PolicyNumber"/>
        <xs:element ref="ins:PolicyType"/>
        <xs:element ref="ins:EffectiveDate"/>
        <xs:element ref="ins:ExpirationDate"/>
        <xs:element ref="ins:PolicyHolder"/>
        <xs:element ref="ins:Coverage"/>
        <xs:element ref="ins:Premium"/>
        <xs:element ref="ins:Status"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="PolicyNumber" type="xs:string"/>

  <xs:element name="PolicyType">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="auto"/>
        <xs:enumeration value="home"/>
        <xs:enumeration value="life"/>
        <xs:enumeration value="health"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="EffectiveDate" type="xs:date"/>

  <xs:element name="ExpirationDate" type="xs:date"/>

  <xs:element name="PolicyHolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ins:Name"/>
        <xs:element ref="ins:DateOfBirth"/>
        <xs:element ref="ins:LicenseNumber"/>
        <xs:element ref="ins:Address"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Name" type="xs:string"/>

  <xs:element name="DateOfBirth" type="xs:date"/>

  <xs:element name="LicenseNumber" type="xs:string"/>

  <xs:element name="Address">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ins:Street"/>
        <xs:element ref="ins:City"/>
        <xs:element ref="ins:State"/>
        <xs:element ref="ins:ZipCode"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Street" type="xs:string"/>

  <xs:element name="City" type="xs:string"/>

  <xs:element name="State" type="xs:string"/>

  <xs:element name="ZipCode" type="xs:string"/>

  <xs:element name="Coverage">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ins:CoverageItem" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CoverageItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ins:CoverageType"/>
        <xs:element ref="ins:CoverageLimit"/>
        <xs:element ref="ins:Deductible"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CoverageType" type="xs:string"/>

  <xs:element name="CoverageLimit">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:fractionDigits value="2"/>
        <xs:minInclusive value="0"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="Deductible">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:fractionDigits value="2"/>
        <xs:minInclusive value="0"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="Premium">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ins:AnnualPremium"/>
        <xs:element ref="ins:PaymentFrequency"/>
        <xs:element ref="ins:NextPaymentDate"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AnnualPremium">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:fractionDigits value="2"/>
        <xs:minInclusive value="0"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="PaymentFrequency">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="monthly"/>
        <xs:enumeration value="quarterly"/>
        <xs:enumeration value="annually"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="NextPaymentDate" type="xs:date"/>

  <xs:element name="Status">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="active"/>
        <xs:enumeration value="expired"/>
        <xs:enumeration value="cancelled"/>
        <xs:enumeration value="pending"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

</xs:schema>
