examples/xsd/15d_insurance_policy_garden_of_eden.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ins="http://example.com/schemas/insurance-policy"
           targetNamespace="http://example.com/schemas/insurance-policy"
           elementFormDefault="qualified">

  <xs:annotation>
    <xs:documentation>
      Insurance Policy Schema - Garden of Eden Pattern

      Both elements and types are global - maximum flexibility.
    </xs:documentation>
  </xs:annotation>

  <!-- Global Elements -->

  <xs:element name="InsurancePolicy" type="ins:InsurancePolicyType"/>
  <xs:element name="PolicyNumber" type="xs:string"/>
  <xs:element name="PolicyType" type="ins:PolicyTypeEnum"/>
  <xs:element name="EffectiveDate" type="xs:date"/>
  <xs:element name="ExpirationDate" type="xs:date"/>
  <xs:element name="PolicyHolder" type="ins:PolicyHolderType"/>
  <xs:element name="Name" type="xs:string"/>
  <xs:element name="DateOfBirth" type="xs:date"/>
  <xs:element name="LicenseNumber" type="xs:string"/>
  <xs:element name="Address" type="ins:AddressType"/>
  <xs:element name="Street" type="xs:string"/>
  <xs:element name="City" type="xs:string"/>
  <xs:element name="State" type="xs:string"/>
  <xs:element name="ZipCode" type="xs:string"/>
  <xs:element name="Coverage" type="ins:CoverageType"/>
  <xs:element name="CoverageItem" type="ins:CoverageItemType"/>
  <xs:element name="CoverageType" type="xs:string"/>
  <xs:element name="CoverageLimit" type="ins:MoneyType"/>
  <xs:element name="Deductible" type="ins:MoneyType"/>
  <xs:element name="Premium" type="ins:PremiumType"/>
  <xs:element name="AnnualPremium" type="ins:MoneyType"/>
  <xs:element name="PaymentFrequency" type="ins:PaymentFrequencyType"/>
  <xs:element name="NextPaymentDate" type="xs:date"/>
  <xs:element name="Status" type="ins:PolicyStatusType"/>

  <!-- Global Complex Types -->

  <xs:complexType name="InsurancePolicyType">
    <xs:sequence>
      <xs:element ref="ins:PolicyNumber"/>
      <xs:element ref="ins:PolicyType"/>
      <xs:element ref="ins:EffectiveDate"/>
      <xs:element ref="ins:ExpirationDate"/>
      <xs:element ref="ins:PolicyHolder"/>
      <xs:element ref="ins:Coverage"/>
      <xs:element ref="ins:Premium"/>
      <xs:element ref="ins:Status"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PolicyHolderType">
    <xs:sequence>
      <xs:element ref="ins:Name"/>
      <xs:element ref="ins:DateOfBirth"/>
      <xs:element ref="ins:LicenseNumber"/>
      <xs:element ref="ins:Address"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element ref="ins:Street"/>
      <xs:element ref="ins:City"/>
      <xs:element ref="ins:State"/>
      <xs:element ref="ins:ZipCode"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CoverageType">
    <xs:sequence>
      <xs:element ref="ins:CoverageItem" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CoverageItemType">
    <xs:sequence>
      <xs:element ref="ins:CoverageType"/>
      <xs:element ref="ins:CoverageLimit"/>
      <xs:element ref="ins:Deductible"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PremiumType">
    <xs:sequence>
      <xs:element ref="ins:AnnualPremium"/>
      <xs:element ref="ins:PaymentFrequency"/>
      <xs:element ref="ins:NextPaymentDate"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Global Simple Types -->

  <xs:simpleType name="MoneyType">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2"/>
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PolicyTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="auto"/>
      <xs:enumeration value="home"/>
      <xs:enumeration value="life"/>
      <xs:enumeration value="health"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PaymentFrequencyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="monthly"/>
      <xs:enumeration value="quarterly"/>
      <xs:enumeration value="annually"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PolicyStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="active"/>
      <xs:enumeration value="expired"/>
      <xs:enumeration value="cancelled"/>
      <xs:enumeration value="pending"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
